<!DOCTYPE html>
<html>

<head>

  {{!-- Bootstrap CSS --}}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Alice|Karla:400,400i,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

  {{!-- Home Page Stylesheet --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  {{!-- Sign In/Up Stylesheet --}}
  <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">

  <title>Nox Friendship App</title>
</head>

<body>
  {{{body}}}
</body>

</html>
