<!DOCTYPE html>
<html>

<head>

  {{!-- Bootstrap CSS --}}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  {{!-- Google Fonts --}}
  <link
    href="https://fonts.googleapis.com/css?family=Alice|Karla:400,400i,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext"
    rel="stylesheet">

  {{!-- Google Material Icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- Home Page Stylesheet --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  {{!-- Sign In/Up Stylesheet --}}
  <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">

<<<<<<< HEAD
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <title>Nox Friendship App</title>
=======
  <title>NOX | Dating App for Queers and Transgender</title>
>>>>>>> b73c631a21bed04890e4c1c5ea489cf8ee3b69fb
</head>

<body>
  {{{body}}}
</body>

</html>