<div class="container text-center">
  <div class="jumbotron mt-5">
    <h1 class="display-4 text-center">404 Error: Page Not Found
    </h1>
    <hr class="my-4">
    <p class="lead"><a href="/">← Back To Home</a></p>
  </div>
</div>