<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="login_body">
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
          </div>
          <div class="col-md-auto">
            <h1>Login</h1>
            <form id="login_form" method="POST" action="/signin">
              <input id="username_input" type="text" class="form-control" placeholder="Username" name="username" />
              <br />
              <input id="password_input" class="form-control" type="password" placeholder="Password" name="password" />
              <br /><br />
              <button class="btn btn-primary" id="login_button" type="submit" value="Login">Login</button>
              <a class="btn btn-primary" href="/createaccount">Create account</a>
              <br />
            </form>
          </div>
          <div class="col col-lg-2">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted errmsg" {{#unless userError}}style="display:none"{{/unless}}>
       <strong><font color="red" size="4">Username is Invalid </font></strong>
    </div>
    <div class="card-footer text-muted errmsg" {{#unless passwordError}}style="display:none"{{/unless}}>
      <strong><font color="red"size="4">Password is Invalid</font></strong>
    </div>
    <div class="card-footer text-muted errmsg" {{#unless unfilledError}}style="display:none"{{/unless}}>
       <strong><font color="red"size="4">Fill Out All Fields</font></strong>
    </div>
        <div class="card-footer text-muted errmsg" {{#unless signedUp}}style="display:none"{{/unless}}>
       <strong><font color="green"size="4">You Successfully Signed Up!</font></strong>
    </div>
  </div>