<div class="container text-center pt-5">

  {{!-- New LOG IN CARD --}}
  <div class="main-card card">

    {{!-- Card Header: Log In Header --}}
    <div class="card-header">
      <h5 class="card-title mb-0">Log In</h5>
    </div>

    {{!-- Logo --}}
    <div class="p-4">
      <img src="../assets/images/nox-logo.png" class="card-img-top" alt="...">
    </div>

    {{!-- Card Body Form --}}
    <div class="card-body pt-2">

      <form id="login_form" method="POST" action="/signin">
        <div class="form-group">
          <input id="username_input" type="text" class="form-control" placeholder="Username" name="username" />
        </div>

        <div class="form-group">
          <input id="password_input" class="form-control" type="password" placeholder="Password" name="password" />
        </div>

        <button class="btn btn-primary" id="login_button" type="submit" value="Login">Log In</button>

      </form>

      <a href="/createaccount" class="btn btn-link">Create New Account</a>
      {{!-- <a class="btn btn-primary" href="/createaccount">Create New Account</a>
      <br /> --}}

    </div>

    {{!-- Card Footer: Log In Error Messages --}}

    <div class="card-footer text-muted errmsg" {{#unless userError}}style="display:none" {{/unless}}>
      <div class="message_login_error">
        Invalid username.
      </div>
    </div>

    <div class="card-footer text-muted errmsg" {{#unless passwordError}}style="display:none" {{/unless}}>
      <div class="message_login_error">
        Invalid password.
      </div>
    </div>

    <div class="card-footer text-muted errmsg" {{#unless unfilledError}}style="display:none" {{/unless}}>
      <div class="message_login_error">
        Please fill out all fields.
      </div>
    </div>

    <div class="card-footer text-muted errmsg" {{#unless signedUp}}style="display:none" {{/unless}}>
      <div class="message_signup_success">
        You're signed up! Please log in.
      </div>
    </div>

  </div>

  {{!-- Original LOG IN CARD | DELETE WHEN APPROPRIATE --}}
  <div class="main-card card d-none">

    {{!-- Card Header: Log In Header --}}
    <div class="card-header">
      <h5 class="card-title">Log In</h5>
    </div>

    {{!-- Logo --}}
    <div class="p-4">
      <img src="../assets/images/nox-logo.png" class="card-img-top" alt="Nox" />
    </div>

    {{!-- Card Body: Log In Fields --}}
    <div class="card-body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-sm-12">

            <form id="login_form" method="POST" action="/signin">
              <input id="username_input" type="text" class="form-control" placeholder="Username" name="username" />
              <br />
              <input id="password_input" class="form-control" type="password" placeholder="Password" name="password" />
              <br /><br />
              <button class="btn btn-primary" id="login_button" type="submit" value="Login">Log In</button>
              <br /><br />
              <a class="btn btn-primary" href="/createaccount">Create New Account</a>
              <br />
            </form>

          </div>
        </div>
      </div>
    </div>

    {{!-- Card Footer: Log In Error Messages --}}
    <div class="card-footer text-muted errmsg" {{#unless userError}}style="display:none" {{/unless}}>
      <strong>
        <font color="red" size="4">Username is invalid.</font>
      </strong>
    </div>
    <div class="card-footer text-muted errmsg" {{#unless passwordError}}style="display:none" {{/unless}}>
      <strong>
        <font color="red" size="4">Password is invalid.</font>
      </strong>
    </div>
    <div class="card-footer text-muted errmsg" {{#unless unfilledError}}style="display:none" {{/unless}}>
      <strong>
        <font color="red" size="4">Please fill out all fields.</font>
      </strong>
    </div>
    <div class="card-footer text-muted errmsg" {{#unless signedUp}}style="display:none" {{/unless}}>
      <strong>
        <font color="green" size="4">You're signed up! Please log in.</font>
      </strong>
    </div>

  </div>

</div>