<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{Post.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{Post.title}}</p>
          <p>
            <strong>Description:</strong> {{Post.body}}</p>
            <a href="/" class="text-warning">← Back To Home</a>
          <p>{{Post.accountId}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
