<body class="login_body">
    <div class="login_div">
        <p style="color:green;"></p>
        <h1>Sign Up</h1>
        <form action="/createaccount" method="post">
            <input id="create_username_input" type="text" placeholder="Username" name="username" />
            <br />
            <input id="create_password_input" type="password" placeholder="Password" name="password" />
            <br />
            <input id="create_confirm_password_input" type="password" placeholder="Confirm Password"
                name="confirm_password" />
            <br />
            <br />
            <a href="/login">back to login</a>
            <input class="login_buttons" id="sign_up_button" type="submit" value="Sign Up" />
            <br />
        </form>
    </div>
</body>