<body class="login_body">
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2">
                    </div>
                    <div class="col-md-auto">
                        <h1>Sign Up</h1>
                        <form action="/createaccount" method="post" id = "signinform">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                                <label for="create_username_input">Username</label>
                                <input id="create_username_input" class="form-control" type="text"
                                    placeholder="Username" name="username" />
                                <br />
                                <label for="create_password_input">Password</label>
                                <input id="create_password_input" type="password" class="form-control"
                                    placeholder="Password" name="password" />
                                <br />
                                <label for="create_confirm_password_input">Confirm Password</label>
                                <input id="create_confirm_password_input" type="password" class="form-control"
                                    placeholder="Confirm Password" name="confirm_password" />
                                <br />
                            <label for="insta">Instagram</label>
                                <input id="insta" class="form-control" type="text"
                                    name="insta" />
                                <br />
                            <label for="Birthday">Birthday</label>
                                <input id="Birthday" class="form-control" type="text"
                                     name="birthday" />
                                <br />
                                <label for="create_password_input">Pronouns</label>
                                <select class="form-control" name="pronouns">
                                    <option>They/Them</option>
                                    <option>He/Him</option>
                                    <option>She/Her</option>
                                    <option>Other</option>
                                </select>
                                <br />
                                <a class = "btn btn-primary" href="/login">Back to Login</a>
                                <button class="btn btn-primary" id="sign_up_button" value = "Sign Up" type="submit">Submit</button>
                                <br />
                            </div>
                        </form>
                    </div>
                    <div class="col col-lg-2">
                    </div>
                </div>
    <div id = "error" class="card-footer text-muted errmsg" {{#unless matchError}}style="display:none"{{/unless}}>
      Passwords do not match
    </div>
    </div>
</body>
<script>
    $(document).ready(function() {
  $("#sign_up_button").on("click", function(event){
    event.preventDefault();

    var userSignUp = {
      username: $("#create_username_input").val(),
      password: $("#create_password_input").val(),
      confirm: $("#create_confirm_password_input").val(),
      insta: $("#insta").val(),
      DOB: $("#Birthday").val()
    }

     if (!userSignUp.username || !userSignUp.password) {
      $(".errmsg").text("Please enter both a username and password").show();
     } else {
       $("#signinform").submit();
     }
  })
})
</script>