/* 
Log in, Sign up Styles 
*/

body {
	font-family: 'Karla', sans-serif; 
}

#login-card, #signup-card {
	width: 30rem;
	margin: 0 auto;
}

.small-logo {
	height: 4rem;
	width: auto;
}

.message_login_error, .message_signup_error {
	font-weight: bold;
	color: red;
}

.message_signup_success {
	font-weight: bold;
	color: green;
}

/* 
Index Page Styles 
*/

/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 20px;
	width: 16rem;
	background-color: #e6f6ff;
	position: fixed;
	height: 100%;
	overflow: auto;
	text-align: center; 
}

.user_info {
	margin-bottom: .5rem;
}

.bolder-text {
	font-weight: 400;
	color: #48a9e0 !important;
	font-family: 'Alice', serif; 
}

#sidebar_nav {
	display: flex;
	flex-direction: column;
}

.bio-modal{
	color: #ffc107!important;
}

.bio-modal:hover{
	text-decoration: none !important;
	font-weight: bold;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
	margin-left: 16rem;
	width: auto;
	padding: 25px;
	/* height: 1000px; */
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
	  width: 100%;
	  height: auto;
	  position: relative;
	}
	.sidebar a {float: left;}
	div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar a {
	  text-align: center;
	  float: none;
	}
}